<table class="searchable sortable"><colgroup><col style="width: 267.56px;"><col style="width: 64.56px;"><col style="width: 172.56px;"><col style="width: 165.56px;"></colgroup>
<thead>
<tr style="background-color: #ebebeb;">
<th class="header">Athlete</th>
<th class="header">Age</th>
<th class="header">Country</th>
<th class="header">Gold Medals</th>
</tr>
</thead>
<tbody><tr>
<td>Michael Phelps</td>
<td>27</td>
<td>United States</td>
<td>4</td>
</tr><tr>
<td>Alicia Coutts</td>
<td>24</td>
<td>Australia</td>
<td>1</td>
</tr><tr>
<td>Missy Franklin</td>
<td>17</td>
<td>United States</td>
<td>4</td>
</tr><tr>
<td>Ryan Lochte</td>
<td>27</td>
<td>United States</td>
<td>2</td>
</tr><tr>
<td>Allison Schmitt</td>
<td>22</td>
<td>United States</td>
<td>3</td>
</tr><tr>
<td>Sun Yang</td>
<td>20</td>
<td>China</td>
<td>2</td>
</tr><tr>
<td>Nathan Adrian</td>
<td>23</td>
<td>United States</td>
<td>2</td>
</tr><tr>
<td>Yannick Agnel</td>
<td>20</td>
<td>France</td>
<td>2</td>
</tr><tr>
<td>Brittany Elmslie</td>
<td>18</td>
<td>Australia</td>
<td>1</td>
</tr><tr>
<td>Matt Grevers</td>
<td>27</td>
<td>United States</td>
<td>2</td>
</tr><tr>
<td>Cullen Jones</td>
<td>28</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Ranomi Kromowidjojo</td>
<td>21</td>
<td>Netherlands</td>
<td>2</td>
</tr><tr>
<td>Camille Muffat</td>
<td>22</td>
<td>France</td>
<td>1</td>
</tr><tr>
<td>Mel Schlanger</td>
<td>25</td>
<td>Australia</td>
<td>1</td>
</tr><tr>
<td>Emily Seebohm</td>
<td>20</td>
<td>Australia</td>
<td>1</td>
</tr><tr>
<td>Rebecca Soni</td>
<td>25</td>
<td>United States</td>
<td>2</td>
</tr><tr>
<td>Dana Vollmer</td>
<td>24</td>
<td>United States</td>
<td>3</td>
</tr><tr>
<td>Ricky Berens</td>
<td>24</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Brendan Hansen</td>
<td>30</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Jessica Hardy</td>
<td>25</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Chad le Clos</td>
<td>20</td>
<td>South Africa</td>
<td>1</td>
</tr><tr>
<td>Clément Lefert</td>
<td>24</td>
<td>France</td>
<td>1</td>
</tr><tr>
<td>Amaury Leveaux</td>
<td>26</td>
<td>France</td>
<td>1</td>
</tr><tr>
<td>Oussama Mellouli</td>
<td>28</td>
<td>Tunisia</td>
<td>1</td>
</tr><tr>
<td>Jeremy Stravius</td>
<td>24</td>
<td>France</td>
<td>1</td>
</tr><tr>
<td>Nick Thoman</td>
<td>26</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Ye Shiwen</td>
<td>16</td>
<td>China</td>
<td>2</td>
</tr><tr>
<td>Alyssa Anderson</td>
<td>21</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Alain Bernard</td>
<td>29</td>
<td>France</td>
<td>1</td>
</tr><tr>
<td>Rachel Bootsma</td>
<td>18</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Cate Campbell</td>
<td>20</td>
<td>Australia</td>
<td>1</td>
</tr><tr>
<td>Tyler Clary</td>
<td>23</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Claire Donahue</td>
<td>23</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Conor Dwyer</td>
<td>23</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Fabien Gilot</td>
<td>28</td>
<td>France</td>
<td>1</td>
</tr><tr>
<td>Dániel Gyurta</td>
<td>23</td>
<td>Hungary</td>
<td>1</td>
</tr><tr>
<td>Charlie Houchin</td>
<td>24</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Jiao Liuyang</td>
<td>22</td>
<td>China</td>
<td>1</td>
</tr><tr>
<td>Yolane Kukla</td>
<td>16</td>
<td>Australia</td>
<td>1</td>
</tr><tr>
<td>Breeja Larson</td>
<td>20</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Katie Ledecky</td>
<td>15</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Libby Lenton-Trickett</td>
<td>27</td>
<td>Australia</td>
<td>1</td>
</tr><tr>
<td>Florent Manaudou</td>
<td>21</td>
<td>France</td>
<td>1</td>
</tr><tr>
<td>Tyler McGill</td>
<td>24</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Matt McLean</td>
<td>24</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Ruta Meilutyte</td>
<td>15</td>
<td>Lithuania</td>
<td>1</td>
</tr><tr>
<td>Lauren Perdue</td>
<td>21</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Éva Risztov</td>
<td>26</td>
<td>Hungary</td>
<td>1</td>
</tr><tr>
<td>Eric Shanteau</td>
<td>28</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Davis Tarwater</td>
<td>28</td>
<td>United States</td>
<td>1</td>
</tr><tr>
<td>Cameron van<br>
der Burgh</td>
<td>24</td>
<td>South Africa</td>
<td>1</td>
</tr><tr>
<td>Shannon Vreeland</td>
<td>20</td>
<td>United States</td>
<td>1</td>
</tr></tbody>
</table>