.App{
  text-align: center;
}
.list{
  list-style: none;
  display: inline-block;
  text-align: left;
}
.data-container{
  margin: 1% 20% 10% 20%;
}
.beerPic{
  height: 100px;
  width: auto;
}

body{
  color: black;
  font-size: 10pt;
  background: #ada996; /* fallback for old browsers */
  background: linear-gradient(to top, #b1a56c, #b1a56c, #b1a56c, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.beerTable{
  border: 1px black;
  color: black;
  display: block;
  text-align: left;
}

button {
  background-color: rgb(174, 174, 174); /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  outline: none;
}

button:hover {
  background-color:rgb(83, 118, 144); /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
}

tr{
  background-color: #dfdede;
  border: 10px black;
}

.top-container{
  margin-top: 1%;
}

#title{
  text-align: center;
  font-size: 40pt;
  display: inline-block;
  vertical-align: middle;
}

#beerIcon{
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 10px;
}

@media only screen and (max-width: 700px){

  body{
    /* background: #dccd90;  */
    background: linear-gradient(to top, #93895a, #b1a56c, #b1a56c, #ede6c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .beerTable{
    border: 1px black;
    color: black;
    display: block;
    text-align: left;
    width: 50%;
  }

  .data-container{
    margin: 1% 10% 10% 10%;
  }

  #beerIcon{
    display:none;
  }
  
}