.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ */

.list{
  list-style: none;
  display: inline-block;
  text-align: left;
}

.beerPic{
  height: 100px;
  width: auto;
}

body{
  color: black;
  font-size: 10pt;
  background: #ada996; /* fallback for old browsers */
  background: linear-gradient(to right, #b1a56c, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.beerTable{
  border: 1px black;
  color: black;
  display: block;
  text-align: left;
  margin: 1% 20% 10% 20%;
}

button {
  background-color: rgb(63, 158, 231); /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
}

button:hover {
  background-color:rgb(83, 118, 144); /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
}

h1{
  text-align: center;
  font-size: 45pt;
}

tr{
  background-color: #dfdede;
  border: 10px black;
}

.beerIcon{
  display: block;
  /* align-self: center; */
}

